
<section class="login-registro">
  <div class="loginregistroclass" v-show="!this.props_blIsLoggedIn">
    <div class="imgcontainer">
        <img src="../../assets/logo.png" alt="Avatar" class="avatar">
      </div>

      <div class="panellogin" v-show="blLoginVisible">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" v-model="sLoginEmail">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" v-model="sLoginPassword">

        <button v-on:click="btnLogin">Login</button>
        <button v-on:click="btnRegistrar1">Register</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>

      </div>

      <div class="panelregister"  v-show="!blLoginVisible">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" v-model="sRegisterEmail">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" v-model="sRegisterPassword">
        <button v-on:click="btnRegistrarse">Register</button>
        <button v-on:click="btnCancelar">Cancelar</button>
      </div>
  </div>
  <div class="logged" v-show="this.props_blIsLoggedIn">
    <button v-on:click="Logout">Logout</button>
</div>
<!--
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
-->
</section>
