.menu-principal {
  display: flex;
  justify-content: space-around;

  .botones{
    display: flex;
    flex-direction: row;
  }
  button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }
  .gasto button{
    background-color: red;
  }
  button:hover {
      opacity: 0.8;
  }
}
